.background {
  height: 4rem;
  width: 100%;
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
  background-color: #00031c94;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00031c94;
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  backdrop-filter: blur(15px) saturate(180%);
  padding: 10px;
  z-index: 10000;
  transform: translateX(-120%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
